@font-face {
  font-family: 'ComicSansMS';
  src: url('fonts/COMIC.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'ComicSansMS', cursive, sans-serif;
}
